@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

:root {
    --color_amarillo   : #FFA100;
    --color_azul       : #5F7FBB;
    --color-azul-letter: #204175;
    --color-white      : #fff;
}

body {
    font-family: 'Roboto',
        sans-serif;
    background-color: #efeff0;
}

.container {
    width         : 1024px;
    display       : flex;
    flex-direction: column;
    width         : 1200px;
    margin        : 0 auto;
    flex-wrap     : wrap;
}

.header {
    display: flex;
}

.card__guardia {
    font-size    : 2rem;
    font-weight  : 900;
    background   : var(--color_amarillo);
    padding      : 15px 10px;
    border-radius: 18px 18px 0 0;
    margin-bottom: 15px;
}

.title {
    text-align   : center;
    margin-bottom: 40px;
    font-size    : 3.5rem;
    font-weight  : bold;
    color        : var(--color-azul-letter);

}

.logo {
    width  : 200px;
    padding: 10px 0px;
}

.container__card {
    display        : flex;
    gap            : 20px;
    justify-content: space-evenly;
}

.card {
    display        : flex;
    width          : 350px;
    min-height     : 300px;
    flex-direction : column;
    gap            : 10px;
    background     : var(--color_azul);
    text-align     : center;
    align-content  : space-between;
    justify-content: center;
    box-shadow     : 0 0 10px rgba(0, 0, 0, .5);
    border-radius  : 10px;
    color          : #fff;
    transition     : transform .2s ease-in-out .1s;
}

.card:hover {
    transform: scale(1.1);
}

.card__nombre {
    font-size: 1.5rem;

}

.card__telefono {
    font-size: 1.5rem;
}

.card_phone {
    width   : 40px;
    position: relative;
    top     : 48px;
    left    : 50px;
}

.footer {
    display    : flex;
    right      : 450px;
    margin-top : 30px;
    justify-content: flex-end;
    font-size  : 1rem;
    font-weight: bold;
    color      : var(--color-azul-letter);

}

@media screen and (max-width:1200px) {
    .container__card {
        flex-direction : row;
        justify-content: center;
    }

    .logo {
        width  : 200px;
        padding: 20px 10px;
    }

    .title {
        margin-top: 0px;
    }

    .card {
        width: 300px;
    }

    .card_phone {
        margin-left: -25px
    }

    .footer {
        width          : 100%;
        margin-bottom  : 100px;
    }
}

@media screen and (max-width:600px) {
    .container {
        width          : 100vw;
        justify-content: center;
    }

    .container__card {
        flex-direction: column;
        margin:0 auto;

    }
    .header {
    justify-content: center;
}
.footer{
    text-align: center;
    padding: 10px;
}
.title{
    font-size: 2.5rem;
}
.card{
    width: 350px;
    min-height: 300px;
}
.card_phone {
    margin-left: -5px
}
}